/* Add additional stylesheets below
-------------------------------------------------- */
html{
    background: url(ocean.png) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

body{
    font-family: stencil-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  /**  background-image: url(ocean.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;**/

}

#sonar
{
    position: relative;
    float: right;
    width: 50px;
    margin-top: -400px;
    margin-right: 200px;
    font-size: 28px;
    opacity: 0;
}

#sonar:hover
{
    color:red;
}

.hover_sonar
{
    background-color: red;
    opacity: 0.6;
}

.sonar_empty
{
    background-color: gray;
}

.sonar_occupied
{
    background-color:black;
}

#title{
    position: relative;
    left: 24%;
    margin: 6px;
    font-size: 32px;
    width: 700px
}
#place_minesweeper{
    background: rgba(100, 100, 100, 0);
    margin-left: 8px;
}
#place_destroyer{
    background: rgba(100, 100, 100, 0);
    margin-left: -15px;
}
#place_battleship{
    background: rgba(100, 100, 100, 0);
    margin-left: -40px;
}
#ships{
    position: absolute;
    left: 55%;
    bottom: 15%;
}
#place_ships{
    margin-left: -30px;
}
#minesweeper{
    margin-left: 28px;
}
#destroyer{
    margin-left: 48px;
}
#battleship{
    margin-left: 50px;
}

.cancel{
    margin-left: 300px;
    opacity:0;
}

button{
    border: none;
    display: block;
}
.battleGrid {
    border: 1px solid black;
    border-spacing: 0px;
    position: relative;
    left: 25%;
}
#opponent{
    margin-bottom: 5px;
}
#player{
    margin-top: 5px;
}
table{
    background: rgba(0, 0, 0, .35);
    background-repeat: no-repeat;
}
.battleGrid tr {
    opacity: 1;
    border: 1px solid white;
    height: 32px;
}

.battleGrid td {
    opacity: 1;
    border: 1px solid white;
    width: 32px;
}

.placed_minesweeper{
    background-color: yellow;
}
.placed_destroyer{
    background-color: purple;
}
.placed_battleship{
    background-color: aqua;
}

.hover_minesweeper:hover{
    background-color: yellow;
}
.hover_destroyer:hover{
    background-color: purple;
}
.hover_battleship:hover{
    background-color: aqua;
}

.occupied {
    background-color: ghostwhite;
}
td:hover {
    background-color: ghostwhite;
}
.hit {background: rgba(0, 255, 0, 0.65);
}

.sink {
    background: rgba(0,0,255,.5);
}

.miss {
    background: rgba(255,0,0,.65);
}
footer{opacity: 0}