<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


<div id="title">The Battleship game</div>

<div id="grid_opp_bg">
    <table id="opponent" class="battleGrid">
    </table>
</div>
<div id="grid_player_bg">
    <table id="player" class="battleGrid">
    </table>
</div>

<div id="ships">
    <h1 id="place_ships">Place your Ships</h1>
    <h2 id="minesweeper">Minesweeper</h2>
    <button id="place_minesweeper"><img src= "/../../assets/css/minesweeper.png" ></button>
    <h2 id="destroyer">Destroyer</h2>
    <button id="place_destroyer"> <img src= "/../../assets/css/destroyer.png" ></button>
    <h2 id="battleship">Battleship</h2>
    <button id="place_battleship"><img src= "/../../assets/css/battleship.png" ></button>
    <input type="checkbox" id="is_vertical">Vertical</input>
</div>

<script type="text/javascript" src="/assets/game.js"></script>
<script>
    initGame();
</script>

</@layout.myLayout>